<template>
  <section class="mt-5 pt-5 pb-5 text-center bg-gray-700 text-light">
      <!-- <div class="container">
        <div class="row">
          <div class="col">
            <h4 class="font-weight-light">Did you know that you can easily create your own articles?</h4>
            <p class="lead mb-0">
              Checkout our
              <g-link
                class="btn btn-lg btn-primary"
                tabindex="-1"
                role="button"
                aria-disabled="true"
                to="/pages/contribute"
              >Contribution Guide</g-link>
            </p>
          </div>
        </div>
      </div> -->
    </section>
</template>