<template>
    <section class="height-30 bg-dark text-white jarallax">
        <g-image
            src="~/resources/images/jonas-allert-Zxnorp8tDNU-unsplash.jpg"
            class="jarallax-img opacity-40"
            alt="ITSMPlus"
        />
        <b-container>
            <b-row class="justify-content-center text-center">
                <b-col md="10" lg="10" class="pt-3 pb-3">
                    <p class="display-4 mb-0">A Voluntary Association</p>
                    <p class="lead">Because communities work better uncoerced</p>
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

