<template>
    <section>
        <b-container fluid>
            <b-row class="height-50 bg-gray-100">
                <b-col sm="12" md="7" lg="6" class="p-5" order="2" order-sm="1">
                    <div class="text-center pb-5">
                        <g-image
                            class="d-md-none d-lg-none"
                            src="~/resources/images/brainstorming.svg"
                            width="256"
                        />
                    </div>
                    <h3 class="display-4 text-center">LG&amp;E Bill</h3>
                    <b-progress class="mt-2 mb-3" :max="totalBalance" show-value :precision="2" height="3rem">
                        <b-progress-bar
                            :value="paidBalance"
                            variant="success"
                            :precision="2"
                        >
                                <span class="lead">${{ paidBalance.toFixed(2) }} Paid</span>
                        </b-progress-bar>
                        <b-progress-bar
                            :value="totalBalance - paidBalance"
                            variant="danger"
                            :precision="2"
                        >
                            <span class="lead">${{ (totalBalance - paidBalance).toFixed(2) }} Due</span>
                        </b-progress-bar>
                    </b-progress>
                    <p class="lead text-center">
                        The Willow Creek Neighborhood Association inherited ${{ totalBalance }} in overdue electricity bills from
                        the now defunct Willow Creek Homeowners Association. It is our #1 priority to pay the overdue balance.
                        LG&amp;E will not shut off the street lights as long as we continue to make payments.
                    </p>
                    <p class="lead text-center">
                        <em>Voluntary contributions are highly appreciated and can be sent to</em><br>
                        <strong>Willow Creek Neighborhood Association<br>
                        PO Box 258<br>
                        Crestwood, KY 40014</strong>
                    </p>
                </b-col>

                <b-col md="5" lg="6" order="1" order-sm="2" class="height-20 d-none d-sm-none d-md-block">
                    <g-image
                        class="bg-image "
                        src="~/resources/images/brainstorming.svg"
                        width="400"
                        alt="Think different"
                    />
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

<script>
import StripeDonation from "~/components/StripeDonation.vue";
export default {
    components: {
    },

    data() {
        return {
            totalBalance: 6947.07,
            balance: 4960.74,
        };
    },

    computed: {
        paidBalance: function() {
            return this.totalBalance - this.balance;
        }
    },

    methods: {

    },

    mounted() {

    }
};
</script>
