@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "variables.scss";

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/progress";

// Generate `.bg-*` color utilities
@each $color,
$value in $grays {
  @include bg-variant(".bg-gray-#{$color}", $value);

  .bg-gray-#{$color} {
    background-color: $value !important;
  }
}

@for $i from 1 through 10 {
  $height: ($i * 10);

  .height-#{$height} {
    min-height: #{$height}vh;
  }
}

@for $i from 1 through 9 {
  $opacity: ($i / 10);

  .opacity-#{($i*10)} {
    opacity: $opacity;
  }
}

button:focus,
input:focus,
div:focus
 {
  outline: none;
  border-width: 0px !important;
  box-shadow: none !important;
}

.dropdown-menu
 {
  outline: none;
  box-shadow: none !important;
}

/*
code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: $gray-200;
  border-radius: 3px;
}
*/

blockquote {
  padding: 11px 20px;
  font-size: 1.25rem;
  background-color: rgba($gray-100, 0.5);
  border-left: 3px solid $gray-300;

  p {
    margin: 0;
  }
}

.badge {
  padding-top: 0.6em;
}

.height-0 {
  height: 0;
}

.opacity-0 {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}

.navbar-nav .nav-link.active {
  color: $primary !important;
}

.text-size-50 {
  font-size: 60% !important;
}

.page-link:focus {
  box-shadow: none !important;
}

.page-link:hover {
  z-index: inherit;
}

.header-image::before {
  background-color: rgba(59, 59, 59, 0.5);
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax>.jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

[class*="height-"] {
  display: flex;

  >.container {
    align-self: center;
  }
}

img.bg-image {
  -o-object-fit: cover;
  object-fit: cover;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-image-relative {
  position: relative !important;
}

.bg-pattern {
  background-image: url('../images/pattern.svg');
}

.list-large-inline-space {
  .list-inline-item {
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
}

.related-records {
  div {
    &:last-child {
      border-width: 0px !important;
    }
  }
}

.no-color {
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 1 !important;
    }
  }
}

.min-h-screen {
  min-height: 50vh;
}

.error {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 100px auto;

  .code {
    font-size: 220px;
    position: relative;
    display: inline-block;
    z-index: 2;
    height: 250px;
    color: $primary;
    padding-bottom: 5px;
  }
}

.overlay-active {
  overflow: hidden;
}

.overlay {
  overflow: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-light {
  background-color: rgb(226, 226, 227);
}

.overlay-content {
  margin-top: 7rem;
}

.overlay {
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: $gray-400 !important;

    &:hover {
      color: $blue !important;
    }
  }

  input[type="text"] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;

    &:hover {
      background: #f1f1f1;
    }
  }

  button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;

    &:hover {
      background: #bbb;
    }
  }
}

.closebtnNavigation {
  display: none;
}

.qc-cmp-button.qc-cmp-secondary-button {
  border-color: #eee !important;
  background-color: #eee !important;
}

.sidebar {
  top: 1rem;
  list-style: none;
  margin: 0;
  font-size: .9rem;
  opacity: 1;

  h6 {
    color: $gray-800;
    padding: .4rem 0;
    border-bottom: 3px solid $gray-100;
  }

  a {
    color: $gray-800;
    text-decoration: none;

    &:hover {
      color: $primary;
    }

  }

  .btn-outline-primary {
    &:hover {
      color: $white !important;
    }
  }



  .toc {
    .toc-item-level-2 {
      margin-bottom: 0;
      padding: .4rem 0;
      font-size: .85rem;
      border-top: 3px solid $gray-100;

      &:first-child {
        border-top: 0;
      }
    }

    .toc-item-level-3 {
      margin-bottom: 0;
      margin-top: -.4rem;
      padding-left: .6rem;
      padding-top: .4rem;
      padding-bottom: .4rem;
      font-size: .8rem;
      opacity: .8;
    }

    .toc-item-level-4 {
      margin-bottom: 0;
      margin-top: -.4rem;
      padding-left: 1.2rem;
      padding-top: .4rem;
      padding-bottom: .4rem;
      font-size: .8rem;
      opacity: .8;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul>li>ul {
      list-style: decimal;
      padding-left: 10px;
    }
  }
}


.article-content h2 a:before,
.article-content h3 a:before {
  content: "#";
  font-weight: 400;
  margin-left: -25px;
  position: absolute;
  color: $primary;
  opacity: .8;
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gridsome-highlight {
  background-color: $gray-100; //for solarized theme
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gridsome-highlight-code-line {
  background-color: $gray-200; //for solarized theme

  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid $gray-500;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gridsome-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

/* Adjust the position of the line numbers */
.gridsome-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

@media (max-width: 575px) {

  .article-content h2 a:before,
  .article-content h3 a:before {
    content: '';
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .min-h-screen {
    min-height: 100vh;
  }
}

@media (max-width: 767px) {

  .related-records {
    div {
        border-right-width: 0px !important;
    }
  }
}

@media (max-width: 991.98px) {
  .overlay-navigation {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .overlay-content {
    margin-top: 7rem;
  }

  .overlay-navigation {
    .nav-content {
      margin-top: 7rem;
      text-align: center;
    }

    .nav-link {
      padding-bottom: 1.5rem;
    }

    .closebtnNavigation {
      display: block;
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      cursor: pointer;
      color: $gray-400 !important;

      &:hover {
        color: $blue !important;
      }
    }
  }
}