$gray-900: #0B0B0B;
$gray-800: #2A2B2C;
$gray-700: #3A3B3B;
$gray-600: #495057;
$gray-500: #686A6E;
$gray-400: #7D7F84;
$gray-300: #C5C6C8;
$gray-200: #E2E2E3;
$gray-100: #F0F0F1;

$blue: #588191;
$red: #CC3B3B;
$orange: #FF7644;
$green: #59B240;
$teal: #92A33E;
$cyan: #74A0A5;

$white: #fff;

$theme-color-interval: 5%;
$navbar-dark-color: rgba($white, 1);
$body-color: $gray-700;
$jumbotron-bg: $blue;
$jumbotron-color: $white;

$font-family-sans-serif: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$lead-font-weight: 400;
$display4-weight: 400;

$enable-deprecation-messages: false;
$enable-responsive-font-sizes: true;