<template>
    <DefaultLayout>
        <SectionHeaderBanner></SectionHeaderBanner>
        <SectionLatestNews></SectionLatestNews>
        <StripeDonation></StripeDonation>
        <!-- <SectionInfoBoxes></SectionInfoBoxes> -->
    </DefaultLayout>
</template>

<script>
import SectionHeaderBanner from "~/layouts/sections/index/HeaderBanner.vue";
import SectionLatestNews from "~/layouts/sections/index/LatestNews.vue";
import SectionInfoBoxes from "~/layouts/sections/index/InfoBoxes.vue";
import StripeDonation from "~/components/StripeDonation.vue";

export default {
    components: {
        SectionHeaderBanner,
        SectionLatestNews,
        StripeDonation,
        SectionInfoBoxes,
        // SectionOpenSource
    },
    metaInfo: {
        title: 'Home',
    }
};
</script>

