<template>
  <DefaultLayout>
    <SectionHeaderBanner :totalCount="$page.records.totalCount"></SectionHeaderBanner>
    <section class="pt-5 mb-5">
      <b-container class="pb-5">
        <div>
          <b-row>
            <RecordCard
              v-for="edge in $page.records.edges"
              :key="edge.node.id"
              :record="edge.node"
            />
          </b-row>
        </div>
      </b-container>

      <Pagination
      baseUrl="/news"
      :currentPage="$page.records.pageInfo.currentPage"
      :totalPages="$page.records.pageInfo.totalPages"
      :maxVisibleButtons="5"
      v-if="$page.records.pageInfo.totalPages > 1"
    />
    </section>
  </DefaultLayout>
</template>

<script>
import RecordCard from "~/components/RecordCard.vue";
import Pagination from "~/components/Pagination.vue";
import SectionHeaderBanner from "~/layouts/sections/news/HeaderBanner.vue";

export default {
  components: {
    RecordCard,
    Pagination,
    SectionHeaderBanner
  },
  metaInfo: {
    title: 'Browse all news',
    meta: [
      {
        key: 'description',
        name: 'description',
        content: 'Willow Creek Neighborhood Association news, events and happenings.'
      }
    ],
  }
};
</script>

<page-query>
  query ($page: Int) {
    
    records: allNews(perPage: 9, sortBy: "createdAt", order: DESC, page: $page) @paginate {
      totalCount
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          recordType
          title, 
          path,
          slug,
          excerpt,
          createdAt(format:"Do MMMM YYYY"),
          timeToRead,
          tags {
            title,
            path
          }
        }
      }
    }
  }
</page-query>