<template>
    <DefaultLayout>
        <div class="error text-center">
            <h1>The transaction was successful!</h1>
            <p class="lead">Thank you for contributing to the Neighborhood Association!</p>
            <p class="lead">You should receive a confirmation email very soon.</p>
            <p class="lead">If you notice any issues, please contact the Temporary Board at <a href="mailto:willowcreekna@gmail.com">willowcreekna@gmail.com</a></p>

            <g-link
                class="btn btn-lg btn-primary"
                tabindex="-1"
                role="button"
                aria-disabled="true"
                to="/"
            >Go Back</g-link>
        </div>
    </DefaultLayout>
</template>

<script>
export default {
    metaInfo: {
        title: 'Successful transaction',
        bodyAttrs: {
            class: 'bg-gray-200'
        }
    }
};
</script>