<template>
    <section class="mt-5 pt-5 pb-5 text-center bg-gray-700 text-light">
        <p class="lead">Every little bit helps!</p>
        <b-button-group size="lg" class="d-none d-lg-block">
            <b-button
                @click="checkout(item.sku)"
                variant="success"
                v-for="item in items"
                v-bind:key="item.sku">{{ item.label }}
            </b-button>
        </b-button-group>
        <b-button-group vertical size="lg" class="d-lg-none">
            <b-button
                @click="checkout(item.sku)"
                variant="success"
                v-for="item in items"
                v-bind:key="item.sku">{{ item.label }}
            </b-button>
        </b-button-group>
    </section>
</template>

<static-query>
query {
  metadata {
    siteUrl
  }
}
</static-query>

<script>
import { loadStripe } from '@stripe/stripe-js';

export default {
    data: () => ({
        loading: false,
        stripe: null,
        publishableKey: 'pk_live_XA5iOHi15wQU0CpgbD6wNEeo00d9i8S2tn', 
        items: [
            {
                label: 'Donate $10',
                sku: 'price_HLwKmRqhlFA9Kp', 
            },
            {
                label: 'Donate $25',
                sku: 'price_HLwKPQ2YEtNbpD', 
            },
            {
                label: 'Donate $50',
                sku: 'price_HLwKxbPutvzQLi', 
            },
            {
                label: 'Donate $75',
                sku: 'price_HLwKKbNIsyyvt3', 
            },
            {
                label: 'Donate $100',
                sku: 'price_HLwK1Ii42UTzmp', 
            },
        ],
    }),
    methods: {
        checkout (sku) {
            this.stripe.redirectToCheckout({
                mode: 'payment',
                lineItems: [{price: sku, quantity: 1}],
                submitType: 'donate',
                successUrl: this.$static.metadata.siteUrl + '/payment/success',
                cancelUrl: this.$static.metadata.siteUrl,
                shippingAddressCollection: {
                    allowedCountries: ['US']
                },
            }).then((result) => console.log(result));
        }
    },
    mounted() {
        loadStripe(this.publishableKey).then((stripe) => this.stripe = stripe);
    }
};
</script>